/* ********** Import fonts ********** */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Mono:wght@700&display=swap");
@font-face {
  font-family: Dymo;
  src: url("/fonts/DYMO.TTF");
  font-family: "Inter", sans-serif;
  font-family: "Roboto Mono", monospace;
}

* {
  margin: 0;
}

/* ********** Variabler ********** */
:root {
  /* Farver */
  --offBlack: #262623;
  --offWhite: #f4ecd6;
  --dymoGray: #d9d9d9;
}

/* ********** Typografi ********** */

h1 {
  color: var(--offWhite);
  font-family: "Inter", sans-serif;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: var(--offWhite);
  /* RobotoMono/Medium */
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.factText {
  color: var(--offWhite);
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dymo {
  /* Her skal dymofonten sættes ind */
  color: var(--offBlack);
  font-family: Dymo;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background-color: var(--dymoGray);
  width: fit-content;
  height: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Til sort paragraftekst */
.text_black {
  color: var(--offBlack);
}

/* Til tekst oven på ternet papit */
.text_on_paper {
  color: var(--offBlack);
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 153%; /* 32.13px */
}

@media (max-width: 500px) {
  h1 {
    font-size: 4.5rem;
  }
  .factText {
    font-size: 3rem;
  }
}
