---
import BaseLayout from "../layouts/BaseLayout.astro";
import Filmrulle from "../components/Filmrulle.astro";
import Hero from "../components/Hero.astro";
import Facts from "../components/Facts.astro";
import WavyImg from "../components/WavyImg.astro";
import AboutPierre from "../components/AboutPierre.astro";
import StockFotoInfo from "../components/StockFotoInfo.astro";
import StockFotos from "../components/StockFotos.astro";
import PierreBerommelse from "../components/PierreBerommelse.astro";
import Skillevej from "../components/Skillevej.astro";
import NyBegyndelse from "../components/NyBegyndelse.astro";
import FotoStilarter from "../components/FotoStilarter.astro";
---

<BaseLayout title="Forside">
  <main>
    <Facts />
    <WavyImg />
    <AboutPierre />
    <StockFotoInfo />
    <StockFotos />
    <PierreBerommelse />
    <Skillevej />
    <Filmrulle />
    <NyBegyndelse />
    <FotoStilarter />
  </main>
</BaseLayout>

<style>
  main {
    width: 100vw;
    overflow: scroll;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script>
