---
import PolaridPierre from "../components/PolaridPierre.astro";
---

<!-- ********** Intro ********** -->
<section>
  <div class="about-text">
    <p class="dymo h2">Pierre|Falcke.</p>
    <p class="text">
      Du ved formentligt ikke hvem han er. <br /><br />
      Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt.<br /><br />
      Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året.<br /><br />
      Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
    </p>
  </div>
  <div class="polarid-fotos">
    <PolaridPierre />
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 2rem;
  }

  .about-text {
    padding-top: 8rem;
    margin: 3rem;
  }

  .h2 {
    margin-bottom: 2.5rem;
    transform: rotate(-5deg);
  }

  .text {
    padding-left: 3rem;
  }

  @media only screen and (max-width: 600px) {
    section {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      margin: 1rem;
    }

    .about-text {
      margin: 1rem;
    }

    .h2 {
      margin-bottom: 2.5rem;
      transform: rotate(-5deg);
    }

    .text {
      padding-left: 1rem;
    }
  }
</style>
