---
import PolaridPierre from "../components/PolaridPierre.astro";
---

<!-- ********** Intro ********** -->
<section>
  <div class="about-text">
    <p class="dymo">Pierre|Falcke.</p>
    <p>
      Du ved formentligt ikke hvem han er. <br /><br />
      Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt.<br /><br />
      Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året.<br /><br />
      Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
    </p>
  </div>
  <div class="polarid-fotos">
    <PolaridPierre />
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  p {
    color: var(--offWhite);
    /* RobotoMono/Medium */
    font-family: "roboto-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 21.875px;
    line-height: normal;
  }

  .about-text {
    margin: 3rem;
  }
</style>
