<!-- ********** Intro ********** -->
<p class="dymo">Pierre|Falcke.</p>
<p>
  Du ved formentligt ikke hvem han er. <br /><br />
  Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt.<br /><br />
  Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året.<br /><br />
  Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
</p>
