---
---

<div id="container">
  <img src="../../public/assets/paper/paper1.webp" alt="papirbaggrund" id="paperBackground" />
  <div id="indhold">
    <div id="text">
      <h3 class="text_black" id="overskrift">Analog fotografering</h3>
      <p class="text_black">
        Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret.<br /><br />
        Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker.
      </p>
    </div>
    <div id="polaroids">
      <img src="../../public/assets/polariod/building.webp" alt="papirbaggrund" id="building" class="polaroid" />
      <img src="../../public/assets/polariod/church.webp" alt="papirbaggrund" id="church" class="polaroid" />
    </div>
  </div>
</div>

<style>
  #container {
    display: grid;
    grid-template-columns: 1fr;
    width: 800px;
  }

  #paperBackground {
    grid-area: 1/2/1/2;
    width: 100%;
    height: 100%;
  }

  #indhold {
    grid-area: 1/2/1/2;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
  }
  #overskrift {
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #text {
    width: 50%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #polaroids {
    margin-top: 3%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .polaroid {
    width: 35%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #building {
    transform: rotate(-4.697deg);
  }

  #church {
    transform: rotate(10.993deg);
  }
</style>
