<p>
  Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.”<br /><br /> Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker
  som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.
</p>
<!-- poloraid-billede her -->
