<!-- ********** 3 facts ********** -->
<p class="factText">Pierre sælger 2 millioner fotos om året.</p>
<p class="factText">Du ser hans fotos ca. 2 gange om dagen.</p>
<p class="factText">Det svarer til én fotolicens hvert 16. sekund.</p>
