<section class="facts-section">
  <p class="factText fact1">Pierre sælger 2 millioner fotos om året.</p>
  <p class="factText fact2">Du ser hans fotos ca. 2 gange om dagen.</p>
  <p class="factText fact3">Det svarer til én fotolicens hvert 16. sekund.</p>
</section>

<style>
  .facts-section {
    margin: 3rem;
    display: flex;
    gap: 30rem;
    flex-direction: column;
    padding-top: 35%;
    padding-bottom: 50%;
  }

  .fact1 {
  }

  .fact2 {
    text-align: end;
  }

  .fact1 {
  }
</style>
