---
import Analog1 from "./Analog1.astro";
import Analog2 from "./Analog2.astro";
import GlitchArt from "./GlitchArt.astro";
import Lomografi from "./Lomografi.astro";
import LomoRegler from "./LomoRegler.astro";
---

<section id="fotoStilarter" class="fotoStilarter">
  <div id="Carousel" class="carousel">
    <Analog1 />
    <Analog2 />
    <GlitchArt />
    <Lomografi />
    <LomoRegler />
  </div>
</section>

<style>
  #Carousel {
    display: inline-flex;
    gap: 20px;
    padding: 0 12px 0 12px;
  }

  @media (min-width: 900px) {
    #Carousel {
      gap: 0;
      margin: 0;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  // if (screen.width > 900) {
  const carousel = document.querySelector(".carousel") as HTMLElement | null;

  // regner ud, hvor bred carousellen er,
  // og derfor hvor lang tid der skal scrolles
  function getScrollAmount() {
    let carouselWidth = carousel.offsetWidth;
    return -(carouselWidth - window.innerWidth);
  }

  const tween = gsap.to(carousel, {
    x: getScrollAmount,
    duration: 3,
    ease: "none",
  });

  // finder sektionen .fotostilarter og bebynder vandret scroll
  if (screen.width > 900) {
    ScrollTrigger.create({
      trigger: ".fotoStilarter",
      start: "top 2%",
      end: () => `+=${getScrollAmount() * -1}`,
      pin: true,
      animation: tween,
      scrub: 1,
      // hvis winduet genindlæses eller ændre størrelse, finder den karrusellens bredde igen
      invalidateOnRefresh: true,
      markers: true,
    });
  } else
    ScrollTrigger.create({
      trigger: ".fotoStilarter",
      start: "top 10%",
      end: () => `+=${getScrollAmount() * -1}`,
      pin: true,
      animation: tween,
      scrub: 1,
      // hvis winduet genindlæses eller ændre størrelse, finder den karrusellens bredde igen
      invalidateOnRefresh: true,
      markers: true,
    });
  // }
</script>
