---
import Analog1 from "./Analog1.astro";
import Analog2 from "./Analog2.astro";
import GlitchArt from "./GlitchArt.astro";
import Lomografi from "./Lomografi.astro";
import LomoRegler from "./LomoRegler.astro";
---

<section id="fotoStilarter">
  <div id="Carousel">
    <Analog1 />
    <Analog2 />
    <GlitchArt />
    <Lomografi />
    <LomoRegler />
  </div>
</section>
<style>
  #fotoStilarter {
    width: 100vw;
    overflow: scroll;
  }
  #Carousel {
    display: inline-flex;
    overflow-x: scroll;
  }
</style>
