<p>Glitch art N책r der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art g책r ud p책 at dyrke fejlene for at skabe kunst. En meget typisk glitch er sm책 analoge eller digitale fejl i farvegengivelsen af billeder.</p>
<!-- poloraid-billede her -->
