---
---

<div id="container">
  <img src="../../public/assets/paper/paper3.webp" alt="papirbaggrund" id="paperBackground" />
  <div id="indhold">
    <div id="text">
      <h3 class="text_black" id="overskrift">Glitch Art</h3>
      <p class="text_black">
        Glitch art N책r der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art g책r ud p책 at dyrke fejlene for at skabe kunst. En meget typisk glitch er sm책 analoge eller digitale fejl i farvegengivelsen af
        billeder.
      </p>
    </div>
    <div id="polaroids">
      <img src="../../public/assets/polariod/glitch.webp" alt="papirbaggrund" id="glitch" class="polaroid" />
    </div>
  </div>
</div>

<style>
  #container {
    display: grid;
    grid-template-columns: 1fr;
    width: 800px;
  }

  #paperBackground {
    grid-area: 1/2/1/2;
    width: 100%;
    height: 100%;
  }

  #indhold {
    grid-area: 1/2/1/2;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
  }
  #overskrift {
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #text {
    width: 50%;
    margin-top: 33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: rotate(-2.56deg);
  }

  #polaroids {
    margin-top: 3%;
    margin-left: 18%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .polaroid {
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #glitch {
    transform: rotate(2.955deg);
  }
</style>
