---
---

<section id="lidtiFem" class="lidt-i-fem">
  <div id="img-container">
    <div id="container-1" class="element">
      <img id="foto1" class="horizontal" src="/assets/li5/mcd.webp" alt="" />
    </div>
    <div id="container-2" class="element paper-citat">
      <img class="horizontal-paper" id="paper" src="/assets/paper/paper-lidt-i-fem.png" alt="" />
      <p class="citat text_on_paper">“Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.” - Pierre Falcke</p>
    </div>
    <div id="container-3" class="element">
      <img class="vertical" id="foto2" src="/assets/li5/nih.webp" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    margin-bottom: 15rem;
  }
  #lidtiFem {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .paper-citat {
    text-align: center;
    position: relative;
    top: -5%;
    left: 5%;
  } */
  .element {
    position: absolute;
  }

  #foto2 {
    transform: rotate(5.803deg);
  }

  #foto1 {
    transform: rotate(-3.167deg);
  }

  #paper {
    transform: rotate(-10deg);
  }

  .horizontal {
    height: 30vw;
  }

  .horizontal-paper {
    height: 40vw;
  }
  .vertical {
    height: 30vw;
  }

  #img_container {
    height: 100%;
    position: relative;
  }

  #container3 {
    /* -webkit-animation: slide-in-tr 1s ease-in-out 1s both;
    animation: slide-in-tr 1s ease-in-out 1s both; */
    right: 50%;
    top: 20%;
  }

  #container2 {
    top: 0;
    left: 20%;

    /* -webkit-animation: slide-in-tl 1s ease-in-out 0.5s both;
    animation: slide-in-tl 1s ease-in-out 0.5s both; */
  }

  #container1 {
    bottom: 0;

    /* -webkit-animation: slide-in-bl 1s ease-in-out both;
    animation: slide-in-bl 1s ease-in-out both; */
  }

  .citat {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: rotate(-10deg);
    z-index: 4;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    width: 18rem;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    duration: 2,
    scrollTrigger: {
      trigger: "#lidtiFem",
      start: "top 80%",
      end: "top",
      scrub: 3,
      /* markers: true, */
    },
  });

  tl.fromTo("#container-1", { rotateY: -20, rotateX: 35, y: -300, x: 300, skewX: -35, skewY: 10, opacity: 0 }, { rotateY: 0, rotateX: 0, y: -300, x: -100, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 2 })
    .fromTo("#container-2", { rotateY: 20, rotateX: 35, y: -300, x: 300, skewX: -35, skewY: 10, opacity: 0 }, { rotateY: 0, rotateX: 0, y: -200, x: -600, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 2 })
    .fromTo("#container-3", { rotateY: 20, rotateX: -35, y: 300, x: 300, skewX: -35, skewY: -10, opacity: 0 }, { rotateY: 0, rotateX: 0, y: 0, x: -100, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 2 });
</script>

<!-- /
  /* @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    } -->

<!-- /* @-webkit-keyframes tilt-in-fwd-br {
        0% {
          -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
          transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
          transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
          opacity: 1;
        } -->
