<img src="../../public/assets/paper/paper3.webp" alt="papirbaggrund" />

<p>
  Lomo-regler<br /><br />
  Der er et stort community af lomografer på Lomography.com, og hardcore lomografer har 10 regler, de lever efter:<br /><br />
</p>
<ol>
  <li>Tag kameraet med overalt</li>
  <li>Brug det på alle tidspunkter – dag og nat</li>
  <li>Lomografi er ikke en forstyrrelse af dit liv, men en del af det</li>
  <li>Prøv hofteskuddet!</li>
  <li>Gå tæt på de objekter du har et ønske om at lomografere</li>
  <li>Tænk ikke (William Firebrace)</li>
  <li>Vær hurtig</li>
  <li>Du behøver ikke at vide hvad du fanger på film på forhånd</li>
  <li>Heller ikke efter</li>
  <li>Du skal ikke bekymre dig om nogen regler</li>
</ol>
<p>Se lomography.com/about/the-ten-golden-rules for yderligere info</p>
