<!-- ********** Pierres Berømmelse ********** -->
<h3 class="dymo">Pierres|berømmelse</h3>
<p>
  Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film.
  Pierre fortsatte med at fotografere på film op gennem gymnasietiden.
</p>
<img class="polarid-1" src="/public/assets/polarid/pb1.webp" alt="Pierres første kamera" />
<img class="polarid-2" src="/public/assets/polarid/pb2.webp" alt="Filmruller" />
<p id="2010" class="dymo">2010</p>
<p>
  Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye
  stil. På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen.
</p>
<p>
  Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.
  Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.
</p>
