<section class="polarid-fotos">
  <img class="polarid-1" src="/public/assets/pierre/pierre3.webp" alt="Pierre Falcke" />
  <img class="polarid-2" src="/public/assets/pierre/pierre2.webp" alt="Pierre Falcke" />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding-top: 10rem;
  }

  img {
    height: auto;
    width: 300px;
  }

  .polarid-1 {
    position: relative;
    transform: rotate(8deg);
  }

  .polarid-2 {
    position: relative;
    top: -20%;
    left: -40px;
    transform: rotate(-13deg);
  }
</style>
