<!-- ********** Stock-fotos ********** -->
<section class="background-paper">
  <h3 class="dymo dymo1">Hvad|er</h3>
  <h3 class="dymo dymo2">Stock-fotos?</h3>
  <p class="text_on_paper about-stock-fotos-text">
    Stock-fotos købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner. <br /><br />
    Stock-fotos bliver ofte kritiseret for at være uden sjæl<br /><br />Stock-fotos har eksisteret i mange år, også før branchen blev digital men branchen var én af de tidlige til at blive fuldt digitaliseret.
  </p>
</section>

<style>
  .background-paper {
    background-image: url("/assets/paper/paper-stock-fotos.webp");
    background-size: contain;
    background-position: center center;
    padding-bottom: 2%;
    min-height: 80vh;
    max-width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h3 {
    margin: 0 auto 0 auto;
    margin-bottom: 1rem;
  }

  .dymo1 {
    transform: rotate(-7deg);
  }

  .dymo2 {
    transform: rotate(3deg);
  }

  p {
    margin: 0 auto 0 auto;
    padding-top: 20px;
    color: var(--offBlack);
    max-width: 715px;
  }

  .about-stock-fotos-text {
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    width: 37rem;
    color: rgb(77, 77, 77) k;
  }
</style>
