---
---

<section id="stockFotos">
  <div id="img_container">
    <div id="arbejde2_container" class="stock-foto">
      <img src="../../public/assets/stockimg/stock2.webp" alt="et stockfoto ved navn arbejde, af to kvinder ved en bærbarcomputer" class="horizontal" id="arbejde1" />
    </div>
    <div id="arbejde1_container" class="stock-foto">
      <img src="../../public/assets/stockimg/stock3.webp" alt="et stockfoto ved navn arbejde, af en gruppe kollegaer omkring en bærbarcomputer" class="horizontal" id="arbejde2" />
    </div>
    <div id="sammenhold_container" class="stock-foto">
      <img src="../../public/assets/stockimg/stock1.webp" alt="et stockfoto ved navn sammenhold, af fire hænder der holder hinandens håndled" class="vertical" id="sammenhold" />
    </div>
  </div>
  <style>
    #stockFotos {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px cyan dotted;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    #img_container {
      width: 60%;
      height: 66%;
      position: relative;
    }
    .horizontal {
      width: 30vw;
    }
    .vertical {
      height: 30vw;
    }
    .stock-foto {
      position: absolute;
    }

    #sammenhold_container {
      -webkit-animation: slide-in-tr 1s ease-in both;
      animation: slide-in-tr 1s ease-in both;
      right: 0;
      top: 20%;
    }
    #sammenhold {
      transform: rotate(-5.803deg);
    }

    #arbejde1_container {
      bottom: 0;

      -webkit-animation: slide-in-bl 1s ease-in both;
      animation: slide-in-bl 1s ease-in both;
    }

    #arbejde1 {
      transform: rotate(-3.167deg);
    }

    #arbejde2_container {
      top: 0;
      left: 20%;

      -webkit-animation: slide-in-tl 1s ease-in both;
      animation: slide-in-tl 1s ease-in both;
    }

    #arbejde2 {
      transform: rotate(7.004deg);
    }

    @-webkit-keyframes slide-in-tr {
      0% {
        -webkit-transform: translateY(-1000px) translateX(1000px);
        transform: translateY(-1000px) translateX(1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-tr {
      0% {
        -webkit-transform: translateY(-1000px) translateX(1000px);
        transform: translateY(-1000px) translateX(1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
      }
    }
    @-webkit-keyframes slide-in-tl {
      0% {
        -webkit-transform: translateY(-1000px) translateX(-1000px);
        transform: translateY(-1000px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-tl {
      0% {
        -webkit-transform: translateY(-1000px) translateX(-1000px);
        transform: translateY(-1000px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
      }
    }
    @-webkit-keyframes slide-in-bl {
      0% {
        -webkit-transform: translateY(1000px) translateX(-1000px);
        transform: translateY(1000px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0) rotate(7.004deg);
        transform: translateY(0) translateX(0) rotate(7.004deg);
        opacity: 1;
      }
    }
    @keyframes slide-in-bl {
      0% {
        -webkit-transform: translateY(1000px) translateX(-1000px);
        transform: translateY(1000px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
      }
    }
  </style>
</section>
